{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block heading %}Welcome!{% endblock %}

{% block description %}

    I am currently studying in the U of T Engineering Science Program. You can look at my blog, portfolio and resume by
    clicking the corresponding item in the navigation bar.

{% endblock %}

{% block widgets %}

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-8">
            <div class="box p-3">
                <h4>Recent Posts</h4>
                {% for post in recent_posts %}
                    <hr/>
                    {% include "blog/includes/post_info.html" with post=post %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="box p-3">
                <h4>Recent Comments</h4>
            </div>
        </div>
    </div>

{% endblock %}
