{% extends "layout.html" %}

{% load static %}

{% block title %}My Portfolio{% endblock %}

{% block heading %}Portfolio{% endblock %}

{% block description %}Here are some of my projects.{% endblock %}

{% block content %}

    <div class="row">
        {% for post in object_list %}
            <div class="col-lg-6 pb-4">
                <a class="list-group-item list-group-item-action h-100 rounded shadow-sm"
                   href="{% url "post-detail" pk=post.id %}">
                    {% include "blog/includes/post_info.html" with post=post %}
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
