{% extends "layout.html" %}

{% load static %}

{% block title %}My Portfolio{% endblock %}

{% block heading %}Portfolio{% endblock %}

{% block description %}Here are some of my projects.{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-6">
            {% for post in object_list|slice:"::2" %}
                <div class="box p-3">
                    {% include "blog/includes/post_info.html" with post=post %}
                </div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            {% for post in object_list|slice:"1::2" %}
                <div class="box p-3">
                    {% include "blog/includes/post_info.html" with post=post %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
