{% extends 'layout.html' %}

{% load static %}

{% block title %}{{ object.title }}{% endblock %}

{% block heading %}

    {{ object.title }} {% if object.draft %}<span class="text-warning">(Draft)</span>{% endif %}

{% endblock %}

{% block lead %}

    {{ object.description }}

{% endblock %}

{% block detail %}

    Created on: {{ object.created_on }}<br/>
    {% if object.created_on != object.updated_on %}
        Updated on: {{ object.updated_on }}
    {% endif %}

{% endblock %}

{% block sidebar %}

    <img class="w-100 mt-2" src="{% get_media_prefix %}{{ object.thumbnail }}" alt="Post thumbnail"/>

{% endblock %}

{% block content %}

    {{ object.content|safe }}

{% endblock %}
