{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Juho Kim's Blog">
    <meta name="author" content="Juho Kim">

    <title>{% block title %}{% endblock %} - Juho Kim</title>
    <link rel="icon" href="{% static 'favicon.ico' %}"/>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Blog Stylesheets -->
    <link href="{% static 'stylesheets/default.css' %}" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
</head>
<body>

<div class="container d-flex flex-column min-vh-100 p-3">
    <header>
        <a href="{% url 'home' %}" class="h2 navbar-brand float-md-start">Juho Kim's Blog</a>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link" href="{% url 'blog:post-list' %}">Posts</a>
            <a class="nav-link" href="{% url 'blog:portfolio' %}">Portfolio</a>
            <a class="nav-link" href="{% url 'about' %}">About</a>
            <a class="nav-link" href="{% url 'admin:index' %}">
                {% if user.is_staff %}Admin{% elif user.is_anonymous %}Login{% endif %}
            </a>
        </nav>
    </header>

    <main role="main" class="my-3">
        <div class="row">
            <div class="col-4">
                <h2>{% block heading %}{% endblock %}</h2>
                <p class="lead">{% block lead %}{% endblock %}</p>
                <small class="text-body">{% block detail %}{% endblock %}</small>
                {% block sidebar %}{% endblock %}
            </div>
            <div class="col-8">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>

    <footer class="text-center mt-auto">
        &copy; {% now 'Y' %} - Juho Kim
    </footer>
</div>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

{% block scripts %}{% endblock %}

</body>
</html>